*{
    padding: 0%;
    margin: 0%;
}
#navbar{
    height: 30px;
    background-color:deepskyblue;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

#head{
    color:crimson;
    padding: 10px;
    font-size: 30px;
}

a{
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    margin-right: 90px;
    font-size: 20px;
    color:black
}

#search{
    height: 30px; width: 100px;
    background-color:darkblue;
    color: aliceblue;
    text-align: center;

}

/* search button:hover{
    box-shadow: 0 10px 10px rgb(0,0,255,1);
    
} */

a:hover{
    background-color: aliceblue;
}

#bg{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border: 10px solid blue;
    border-image: linear-gradient(blue, deepskyblue)30;
    /* margin: 10px; */
}

.box{
    display: inline-block;
    /* margin: 20px; */
    margin-left: 50px;
}

.box img:hover{
    box-shadow: 0 10px 20px  rgb(0,0,0,1);
}



#img1{
    margin: 20px;
}
#img2{
    margin: 20px;
}
#img3{
    margin: 20px;
}
#img4{
    margin: 20px;
}
#img5{
    margin: 20px;
}

